# Auto detect text files and perform LF normalization
* text=auto

.gitattributes export-ignore
.gitignore export-ignore
project export-ignore
.github export-ignore
.vscode export-ignore
versions.json export-ignore